# **Limpeza de dados em um dataset real (dados do titanic)**
 - ### Variáveis
    - Survival: Sobrevivência (0 = Não, 1 = Sim)
    - Pclass: Classe do bilhete (1 = 1º, 2 = 2º, 3 = 3º)
    - Sex: Gênero
    - Age: Idade em anos
    - SibSp: Nº de irmãos/conjûges a bordo do Titanic
    - Parch: Nº de pais/filhos a bordo do Titanic
    - Ticket: Número do bilhete
    - Fare: Tarifa do passageiro
    - Cabin: Número da cabine
    - Embarked: Ponto de embarcação (C = Cherbourg, Q = Queentown, S = Southamption)

In [1]:
# Importando Pandas
import pandas as pd

In [5]:
# Importando a base do titanic
titanic = pd.read_csv("train.csv")

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
# Visualizando a base
titanic.head(3)

In [6]:
# Formato da base
titanic.shape

(891, 12)

In [ ]:
# Resumo estatístico
titanic.describe()

In [ ]:
# Informações da base
titanic.info()

In [7]:
# Cardinalidade (quantidade de valores únicos em cada uma das colunas)
titanic.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

In [8]:
# Visualizando valores vazios
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
# Verificando os registros com embarque vazio
titanic[titanic.Embarked.isnull()]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [10]:
# Atualizando o valor para as 2 linhas
titanic.loc[titanic.Embarked.isnull(), 'Embarked'] = 'S'