In [1]:
tup = (4, 5 ,6)
tup

(4, 5, 6)

In [2]:
# Convertendo
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [3]:
# Acessando
tup[0]

's'

In [5]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup
nested_tup[0][1]

5

In [6]:
tup = ('foo', [1, 2], True)
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [8]:
# Desempacotamento
tup = (4, 5, 6)
a, b, c = tup
a

4

In [9]:
# Iteração por sequência
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a = {a}, b = {b}, c = {c}')

a = 1, b = 2, c = 3
a = 4, b = 5, c = 6
a = 7, b = 8, c = 9

In [10]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4